/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/vendor

.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db

/database/*.sqlite
/database/*.sqlite.*
/database/database.sqlite
/database/database.sqlite.*

/storage/app/private
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

/bootstrap/cache/*.php

__MACOSX